html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    position: relative;
    font-family: 'Noto Sans TC', sans-serif;
}

header {
    height: 100%;
    width: 25vw;
    top: 0;
    left: 0;
    position: absolute;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 30px;
    box-sizing: border-box;
}

main {
    height: 100%;
    width: calc(100% - 25vw);
    top: 0;
    left: 25vw;
    position: absolute;
}

.header_title {
    font-weight: 300;
    font-size: 24px;
}

.form_label {
    display: block;
}

.form_label > span {
    display: block;
    font-size: 17px;
    margin: 1.4em 0;
}

#keyword {
    width: 100%;
    padding: 1em;
    border-radius: 2px;
    outline: 0;
    border: 1px solid #acacac;
    display: block;
    box-sizing: border-box;
}

#price_level {
    display: flex;
    align-items: center;
    justify-content: center;
}

.price_level_button {
    outline: 0;
    border: 0;
    background: transparent;
    font-size: 42px;
    opacity: 0.35;
    cursor: pointer;
}

.price_level_button.active {
    opacity: 1;
}